*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.prices{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

.prices > h4{
    color: green;
}

del{
    color: red;
}

